* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: SWIsop1;

    src: url(fonts/swisop1.ttf);
}

body {
    font-family: SWIsop1, Consolas, sans-serif;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;

    min-width: 250px;
    min-height: 100vh;

    background: linear-gradient(to bottom, lavender, lavenderblush);

    align-items: center;
}

header {
    margin-bottom: 10vh;
    padding-top: 10vh;

    text-align: center;
}

header > h1 {
    font-weight: normal;
    line-height: 1.1em;
}

main {
    display: flex;

    width: 95%;
    max-width: 1000px;
    margin-bottom: 1.5em;

    flex-flow: row wrap;
    flex-grow: 1;
}

.block {
    display: flex;

    flex: 1 150px;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.block-p {
    margin-bottom: 3vh;

    flex: 0 0 40px;
}

.currency {
    display: flex;

    margin-bottom: 85px;

    flex-flow: column;
    align-items: center;
}

#rate {
    display: flex;

    text-align: center;

    flex: 1 50px;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

#rate h3 {
    font-weight: normal;
    line-height: 1.1em;

    margin: 25px 0 0 0;
}

.current-rate {
    font-size: 20px;
    line-height: 1.4em;

    margin-top: 10px;
}

.flex-column {
    flex: 1 40px;
}

.flex-column:first-child {
    margin: 0;

    text-align: center;
}

.sub {
    position: absolute;

    width: 133px;
    margin: 45px 0 0 0;
    padding: 0;

    list-style: none;

    cursor: pointer;
    transition: transform, .2s;
    transform: scaleY(0);
    transform-origin: center 0;

    background-color: white;
    box-shadow: 0 2px 9px -2px black;
}

.arrow {
    display: inline-block;

    width: 10px;
    height: 10px;
    margin-right: 9px;
    margin-bottom: 5px;
    margin-left: auto;

    transition: transform, .2s;
    transform: rotate(45deg);
    transform-origin: 7px 7px;

    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.sub.active {
    transform: scaleY(1);
}

.sub li {
    display: flex;

    height: 38px;

    align-items: center;
}

.sub li:hover {
    background-color: lightgrey;
}

.arrow.active {
    transform: rotate(225deg);
}

.selected {
    display: flex;

    width: 135px;
    height: 40px;

    cursor: pointer;
    transition: border-color, .5s;

    border: 1px solid #9e9e9e;
    border-radius: 4px;
    background-color: floralwhite;

    align-items: center;
    flex-flow: row;
    justify-content: flex-start;
}

.selected:hover, .selected.active, .input-wrapper:hover, .input-wrapper.active, #swap:hover {
    border-color: pink;
}

.selected.active, .input-wrapper.active, #swap:active {
    box-shadow: 0 0 5px 2px pink;
}

.text {
    line-height: 43px;

    height: 40px;
    padding-left: 5px;
}

.input-wrapper {
    width: 135px;
    height: 40px;

    transition: border-color .5s;

    border: 1px solid #9e9e9e;
    border-radius: 4px;
    background-color: floralwhite;
}

.amount {
    font-size: 15px;

    width: 133px;
    padding: 11px 11px 9px 5px;

    border: none;
    border-radius: 4px;
    outline: none;
    background-color: transparent;

    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#button-wrapper {
    display: flex;

    margin-top: 50px;

    flex-flow: row;
}

#swap {
    width: 30px;
    height: 30px;

    border: 2px solid black;
    border-radius: 100%;
    outline: none;
    background-color: floralwhite;
}

#circle {
    display: flex;

    width: 40px;
    height: 40px;
    margin-top: 10px;

    animation: circle 1s infinite linear;

    border: 5px solid grey;
    border-right-color: transparent;
    border-radius: 100%;
    background-color: transparent;

    flex-flow: row;
    align-items: center;
    justify-content: center;
}

@keyframes circle {
    100% {
        transform: rotate(360deg);
    }
}

#inner-circle {
    width: 20px;
    height: 20px;

    animation: inner-circle 1s infinite linear;

    border: 5px solid lightpink;
    border-left-color: transparent;
    border-radius: 100%;
    background-color: transparent;
}

@keyframes inner-circle {
    100% {
        transform: rotate(-720deg);
    }
}

footer {
    font-size: .8em;
    line-height: 1.1em;

    display: flex;

    margin-bottom: 1.5em;

    flex-flow: column;
    align-items: center;
}

[data-value] .flag {
    display: inline-block;

    width: 32px;
    height: 20px;
    margin-left: 5px;

    vertical-align: middle;

    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

[data-value='rub'] .flag {
    background-image: url(pictures/ru.svg);
}

[data-value='usd'] .flag {
    background-image: url(pictures/us.svg);
}

[data-value='eur'] .flag {
    background-image: url(pictures/eu.svg);
}

@media (max-width: 410px) {
    header {
        margin: 0 20px 3vh 20px;
        padding-top: 3vh;
    }

    main {
        flex-flow: column;
    }

    .block {
        flex-grow: .2;
        flex-flow: column;
        justify-content: center;
    }

    .block-p {
        margin-bottom: 1vh;
    }

    .flex-column, #rate {
        flex-grow: 0;
    }

    .currency {
        margin-bottom: 0;
    }

    #rate {
        flex: 0 0 160px;
    }

    #rate > h3, #button-wrapper {
        margin-top: 20px;
    }

    .current-rate {
        margin-top: 10px;
    }
}
